mat-list:nth-child(odd) {
    background: #666666
}

.pokemon-line {
    text-align: center;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.filter-component {
    min-width: 400px;
}

.filter-component-container {
    text-align: center;
}