.pokeball-image {
    width: 20px;
    height: 20px;
}

.app-container {
  background: #303030;
  display: flex;
  flex: 1 auto;
  min-width: 100%;
  min-height: 100%;
  flex-grow: 1;
}

.left-menu {
  border-right: 1px solid rgba(255,255,255,.12);
}

.button-content {
  display: flex;
  gap: 1rem;
}

.main-content {
  flex-grow: 1;
}